/************************************************************
  Basic rules
*************************************************************/

* {
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', sans-serif;
	font-size: 125%;
	background: #F0EDED;
}


.container {
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


header {
	background: url("pics/header.png");
	width: 100%;
	height: 150px;
	position: relative;
	text-align:center;
	top: 0;
	left: 0;
}

body {
	margin: 0;
}

#headerBox {
	display: flex;
	width: 100%;
	height: 150px;
	flex-direction: row;
	flex-wrap: wrap;
}

#titleBox {
	font-family: calibri;
	font-style: italic;
	font-weight: bold;
	color: white;
	height: 120px;
	width: 100%;
}

#navLink {
	background: blue;
	width: 14%;
	height: 30px;
	border:1px solid black;
	color: white;
}

#navLinkDrop{
	background: blue;
	width: 14%;
	height: 30px;
	color: white;

	position: relative;
	display: inline-block;
}

.dropbtn {
  background: blue;
  width: 100%;
  height: 30px;
  border:1px solid black;
  color: white;
  cursor: pointer;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  margin-top: 0%;
  position: absolute;
  background-color: white;
  width: 100%;
  border-color: black;
  border:1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: LightGrey;
}

/* Show the dropdown menu on hover */
#navLinkDrop:hover .dropdown-content {
  display: block;
  color: black;

}

/* Change the background color of the dropdown button when the dropdown content is shown */
#navLinkDrop:hover .dropbtn {
	background: #FFD700;
  	color: black;
}

#navLinkCreate {
	background: blue;
	width: 28%;
	border:1px solid black;
	height: 30px;
	color: white;
}

#emptyBlock {
	width: 15%;
}

#navBar {
	height: 30px;
	width: 100%;
}

#navBox {
	display: flex;
    flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}


/*************************************************************
  main body formatting
*************************************************************/

#mainBox {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

#leftMargin {
	width: 15%;
}

#rightMargin {
	width: 15%;
}

#leftMargin img{
	position: relative;
	width: 100%;
	height: 800px;
	max-height: 1200px;
}

#rightMargin img{
	position: relative;
	width: 100%;
	height: 800px;
	max-height: 1200px;
}

main {
	width: 100%;
	height: 70%;
	position: relative;
	margin: 0;
}

#midPage {
	background: white;
	border: 1px solid #333;
	width: 70%;
	min-height: 600px;
	margin: 0;
	position: relative;
}

.projectLink {
	color: black;
}

.projectLink:hover {
	color: blue;
}


/*************************************************************
  project ranking page
*************************************************************/

.tagRank{
	margin-left: 5%;
}

.tagRankBox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	align-content: flex-start;
}

#submitBox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: stretch;
}

#tagRankDescription{
	width: 100%;
	margin-bottom: 40px;
	margin-top: 30px;
}

#tagBox{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	align-content: flex-start;
}

.rankForm {
	width: 100%;
}

#rankSubmitButton{
	font-size: 1em;
}

#rankSubmitHeader{
	display: inline;
	margin-top: 10px;
}

#rankTagName {
	display: inline;
	width: 100%;
}

#tagRow{
	width: 100%;
	margin-bottom: 10px;
}
/*************************************************************
  project listing tables
*************************************************************/

.projectTable{
	width: 90%;
	margin-left: 5%;
}

.tableTitle{
	width: 40%;
}

.tableTitleSearch {
	width: 30%;
}

.tableTags{
	width: 30%;
}

.tableTagsSearch{
	width: 20%;
}

.tableContact{
	width: 30%;
}

.tableSummary{
	width: 30%;
}

.tableSummarySearch{
	width: 40%;
}

.tableSummaryBox{
	font-style: normal;
	font-size: .75em;
	font-weight: normal;
	text-align: left;
}

.pageNumberButton {
	background:none;
	border:none;
	margin:0;
	padding:0;
	cursor: pointer;
	font-size: .75em;
	color: gray;
}

.pageNumberButtonCurrent {
	background:none;
	border:none;
	margin:0;
	padding:0;
	cursor: pointer;
	font-size: .75em;
	color: gray;
	font-weight: bold;
	text-decoration: underline;
}

#pageNumberDisplay {
	background:none;
	border:none;
	margin:0;
	padding:0;
	font-size: .75em;
	color: gray;
}


.search_box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: flex-start;
}

.search_bar_label {
	font-size: 1.5em;
	color: black;
	width: 100%;
	padding-left: 5%;
}

.searchBox{
	border-radius: 5px;
	width: 100%;
}

.searchInputBox {
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.searchButton {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.searchButtonBox {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 5px;
	justify-content: center;
}
.addSearchButton {
	width: 20%;
}


#page_header {
	margin-bottom: 5px;
}

#header_indent {
	margin-left: 5%;
	margin-bottom: 0px;
}

#tagList {
	margin-bottom: 5px;
	margin-top: 5px;
}

#proj_title_header {
	margin-top: 5px;
	margin-bottom: 5px;
}

/************************************************************
 my account input form formatting
*************************************************************/

.password_input_box{
	width: 50%;
	border-radius: 5px;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1em;
	font-weight: normal;
	border: 2px solid #D3D3D3;
	margin-bottom: 5px;
}

.password_input_box_error{
	width: 50%;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1em;
	font-weight: normal;
	border: 2px solid red;
}


.email_input_box_error{
	width: 50%;
	margin-top: 2px;
	margin-bottom: 5px;
	border-radius: 5px;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1em;
	font-weight: normal;
	border: 2px solid red;
}

.email_input_box{
	width: 50%;
	margin-top: 2px;
	margin-bottom: 5px;
	border-radius: 5px;
	margin-right: 5%;
	margin-left: 5%;
	font-size: 1em;
	font-weight: normal;
	border: 2px solid #D3D3D3;
}

.password_box{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: flex-start;
}

#error_text
{
	height: 1em;
	margin-bottom: 2px;

}

.password_box_box {
	width: 100%;
}

.password_text {
	width: 100%;
	margin-left: 5%;
}

/************************************************************
  project input form formatting
*************************************************************/

.project_input_box{
	width: 90%;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	font-size: 1em;
	font-weight: normal;
	border: 2px solid #D3D3D3;
}

.project_input_box_error{
	width: 90%;
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: sans-serif;
	border: 2px solid red;
}

#project_background_input {
	height: 200px;
	font-family: sans-serif;
}

#project_description_input {
	height: 200px;
	font-family: sans-serif;
}

.input_error{
    color:red;
	margin-left: 5%;
	font-size: 1em;
}

.submit_changes_button {
	margin-left: 5%;
	margin-top: 2px;
}
/************************************************************
  create_tags page
*************************************************************/

#insert_tags{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: flex-start;
}

#tagBarLabel {
	font-size: 1.5em;
	color: black;
	width: 100%;
	padding-left: 5%;
}

.inputBox{
	border-radius: 5px;
	width: 100%;
}

#tagInputBox {
	width: 85%;
	padding-left: 5%;
}
#addTagButton {
	width: 15%;
	padding-right: 5%;
}

.insertTagButton {
	width: 100%;
}

#formError
{
	padding-left: 5%;
	width: 100%;
	color: red;
}

#tag_listing
{
	padding-top: 5px;
	padding-left: 5%;
	width: 100%;
}

#tags_created {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: flex-start;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
}

#tag_button_container {
	padding-right: 15px;
	padding-top: 10px;
}

#TagButton{
	border-radius: 12px;
	background: #FFD700;
	color: black;
}

#TagButton:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: blue;
	color: white;
}

.submit_data_button{
	padding-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 10px;
	align-content: flex-end;
	padding-right: 5%;
}
/*************************************************************
  home page and login form
*************************************************************/

#intro {
	width: 70%;
}

#login {
	width: 30%;
	background: silver;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#loginForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#signin {
	font-size: 1em;
}

#createnew {
	font-size: 1em;
}
#loginTitle {
	width: 100%;
	padding-left: 2.5%;
	font-weight: bold;
}

#me {
	background: blue;
}

#ForgotPass {
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: flex-end;
	font-size: 0.5em;
	padding-right: 2.5%;
}


.login_input {
	border-radius: 5px;
	width: 95%;
	margin-left: 2.5%;
	font-size: 1em;
}
#showPass {
	font-size: 0.5em;
}


h1 {
	margin-top: 0;
}


#navLink:hover {
	background: #FFD700;
	color: black;
}

.dropdown-content .navBarLink{
	border: 1px solid black;
}

.navBarLink {
	color: inherit;
}

.navBarLink:hover {
	color: inherit;
}

#navLinkCreate:hover {
	background: #FFD700;
	color: black;
}

th {
	background-color: #FFD700;
	color: #0000FF;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

p {
	margin-left: 5%;
}

a {
    text-decoration: none;
}
ol li {
	text-align: left;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #C0C0C0;
}


/*************************************************************
  Nav bar
*************************************************************/

/*************************************************************
  Individual project pages
*************************************************************/
.projectHeaders {
	display: inline;
}

.editProjectButton {
	background:none;
	border:none;
	margin:0;
	padding:0;
	cursor: pointer;
	font-size: .5em;
	color: gray;
}

#editProjectForm {
	display: block;
}

#editForm {
	display: block;
}

#remove_project_button {
	border-radius: 2px;
	background: red;
	color: black;
}

#remove_project_button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background: yellow;
}

/*************************************************************
  Inputs
*************************************************************/

button {
	/* "inherit" means "whatever the enclosing element's font size is."
	Actually most (all?) CSS properties can be "inherit"! */
	font-size: inherit;
}

#button {
	display: flex;
	flex-direction: row;
	justify-content:center;
	padding-bottom: 2.5%;
}

#signin {
	width: 95%;
}

#createnew {
	width: 95%;
}

/* This is an attribute selector. Very useful for styling inputs. */
/*input[type="text"], input[type="password"] {
	border-radius: 5px;
	width: 95%;
	margin-left: 2.5%;
}
*/
