/************************************************************
  Basic rules
*************************************************************/

* {
	box-sizing: border-box;
}

html {
	font-family: 'Segoe UI', sans-serif;
	font-size: 125%;
	background: #F0EDED;
}


.container {
    display: flex;
    flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


.bodyContainer {
	background: pink;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch
}

header {
	background: url("pics/header.png");
	width: 100%;
	height: 150px;
	position: relative;
	text-align:center;
	color: white;
	font-family: calibri;
	font-style: italic;
	font-weight: bold;
	top: 0;
	left: 0;
}

body {
	margin: 0;
}

#mainBox {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;
}

#leftMargin {
	width: 15%;
	max-height: 2000px;
}

#rightMargin {
	width: 15%;
	max-height: 2000px;
}

#leftMargin img{
	position: relative;
	width: 100%;
	height: 800px;
	max-height: 1200px;
}

#rightMargin img{
	position: relative;
	width: 100%;
	height: 800px;
	max-height: 1200px;
}


#intro {
	width: 70%;
}

#login {
	width: 30%;
	background: silver;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#loginForm {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


#loginTitle {
	width: 100%;
	padding-left: 2.5%;
	font-weight: bold;
}

#ForgotPass {
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
	align-items: flex-end;
	font-size: 0.5em;
	padding-right: 2.5%;
}

#showPass {
	font-size: 0.5em;
}

main {
	width: 100%;
	height: 70%;
	position: relative;
	margin: 0;
}
#midPage {
	background: white;
	border: 1px solid #333;
	width: 70%;
	min-height: 600px;
	max-height: 2000px;
	margin: 0;
	position: relative;

}

h1 {
	margin-top: 0;
}

a {
	color: white;
	font-weight: bold;
}

a:hover {
	color: #FFFF00;
}

th {
	background-color: #FFFF00;
	color: #0000FF;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

p {
	margin-left: 5%;
}

a {
    text-decoration: none;
}
ol li {
	text-align: left;
}
table, th, td {
	border: 1px solid black;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #C0C0C0;
}


/*************************************************************
  Nav bar
*************************************************************/

nav > ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-flow: row nowrap;
}

nav > ul > li {
	padding: 0 0.5em;
}

/* The A ~ B selector means "select any B that comes after an A. In this case,
it selects all list items *except the first* inside the navbar's list. */
nav > ul > li ~ li {
	border-left: 1px solid #444;
}

/*************************************************************
  Inputs
*************************************************************/

input, button {
	/* "inherit" means "whatever the enclosing element's font size is."
	Actually most (all?) CSS properties can be "inherit"! */
	font-size: inherit;
}

#button {
	display: flex;
	flex-direction: row;
	justify-content:center;
	padding-bottom: 2.5%;
}

#signin {
	width: 95%;
}

#createnew {
	width: 95%;
}

/* This is an attribute selector. Very useful for styling inputs. */
input[type="text"], input[type="password"] {
	border-radius: 5px;
	width: 95%;
	margin-left: 2.5%;
}
