<!doctype html>
<html lang="en">
<head>
	<title>{% block title %}Welcome{% endblock %} - Capstone</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
		<header>
			<div id = "headerBox">
				<div id = "titleBox">
					<h1>Pitt Capstone Website</h1>
				</div>
				<div id = "navBar">
					<nav>
						<div id = "navBox">
							<div id = "emptyBlock">
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('home') }}">Home</a>
							</div>
						{% if g.user.provider and g.user.admin %}
							<div id="navLinkDrop">
								<button class="dropbtn">Projects</button>
								<div class = "dropdown-content">
									<a class = "navBarLink" href="{{ url_for('create_project') }}">Create Project</a>
									<a class = "navBarLink" href="{{ url_for('projects')}}">Search Projects</a>
								</div>
							</div>
							<div id="navLinkDrop">
								<button class="dropbtn">Administrator</button>
								<div class = "dropdown-content">
									<a class = "navBarLink" href="{{ url_for('registerProvider') }}">Add Project Provider</a>
									<a class = "navBarLink" href="{{ url_for('users')}}">Manage Users</a>
								</div>
							</div>
							<div id="navLinkDrop">
								<button class="dropbtn">My Account</button>
								<div class = "dropdown-content">
									<a class = "navBarLink" href="{{ url_for('account') }}">Manage Account</a>
									<a class = "navBarLink" href="{{ url_for('my_tags')}}">My Tags</a>
									<a class = "navBarLink" href="{{ url_for('tag_ranking')}}">My Tag Values</a>
								</div>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('logout') }}">Sign out</a>
							</div>
						{% elif g.user.provider %}
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('create_project') }}">Create Project</a>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('projects') }}">Projects</a>
							</div>
							<div id="navLinkDrop">
								<button class="dropbtn">Create Project</button>
								<div class = "dropdown-content">
									<a class = "navBarLink" href="{{ url_for('account') }}">Manage Account</a>
									<a class = "navBarLink" href="{{ url_for('my_tags')}}">My Tags</a>
									<a class = "navBarLink" href="{{ url_for('tag_ranking')}}">My Tag Values</a>
								</div>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('logout') }}">Sign out</a>
							</div>
						{% elif g.user %}
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('projects') }}">Projects</a>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('home') }}">Interested Projects</a>
							</div>
							<div id="navLinkDrop">
								<button class="dropbtn">My Account</button>
								<div class = "dropdown-content">
									<a class = "navBarLink" href="{{ url_for('account') }}">Manage Account</a>
									<a class = "navBarLink" href="{{ url_for('my_tags')}}">My Tags</a>
									<a class = "navBarLink" href="{{ url_for('tag_ranking')}}">My Tag Values</a>
								</div>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('logout') }}">Sign out</a>
							</div>
						{% else %}
							<div id="navLinkCreate">
								<a class = "navBarLink" href="{{ url_for('register') }}">Create an Account!</a>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('projects') }}">Projects</a>
							</div>
							<div id="navLink">
								<a class = "navBarLink" href="{{ url_for('login') }}">Sign in</a>
							</div>
						{% endif %}
						</div>
					</nav>
				</div>

			{% with flashes = get_flashed_messages() %}
				{% if flashes %}
					<ul class="flashes">
					{% for message in flashes %}
						<li>{{ message }}
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
			</div>
		</header>
		<main>
			<div id = "mainBox">
				<div id="leftMargin">
					<img src="{{ url_for('static', filename='pics/cathy4.jpg') }}">
				</div>
				<div id = "midPage">
					{% block main %}
						Hmm... no content here. Don't forget to put a "main" block in your template.
					{% endblock %}
				</div>
				<div id="rightMargin">
					<img src={{ url_for('static', filename='pics/pete3.jpg') }}>
				</div>
				</main>
			</div>
		</div>


		<footer>
			Pitt Capstone Website &copy; 2019 Matt Stropkey Jonathan Zhang
		</footer>
</body>
</html>
