{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block main %}
<form id = "tag_form" action = "{{url_for('create_tags') }}" method="Post" novalidate>
    <div id = "insert_tags">
        {{ form.hidden_tag() }}
        <div id = "tagBarLabel">
            {{form.tags.label()}}
        </div>
        <div id = "tagInputBox">
            {{form.tags(value = "", class_='inputBox')}}
        </div>
        <div id="addTagButton">
            {{form.submit2(class_='insertTagButton')}}
        </div>
        <div id = "formError">
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </div>
        <div id = "tag_listing">
            Your current tags for the project are below. Click on them to remove them.
        </div>
    </div>
</form>

<form id = "added_tags" action = "{{url_for('create_tags')}}" method="Post" novalidate>
    <div id = "tags_created">
        {{ form.hidden_tag() }}
        {% for tag in tags %}
            <div id = "tag_button_container">
                <input type="submit" name="submit" value="{{tag}}" id="TagButton">
            </div>
        {% endfor %}
    </div>
</form>
<div id = "createProjectButtonBox">
    <button type="submit" name="submit3" form="tag_form" value = "create">Create Project</button>
</div>
{% endblock %}
