{% extends "base.html" %}

{% block title %}Create a Project{% endblock %}

{% block main %}
	<h2>{{ self.title() }}</h2>

	<form id = "form1" action = "{{url_for('create_project') }}" method="Post" novalidate>
		{{ form.hidden_tag() }}
		<dt>{{form.title.label}}
		{% if form.title.errors %}
			{{form.title(class = "project_input_box_error", id = "project_title_input")}}
			{% for error in form.title.errors %}
				<span class="input_error">{{ error }}</span>
			{% endfor %}
		{% else %}
			{{form.title(class = "project_input_box", id = "project_title_input")}}
		{% endif %}
		<dt>{{form.summary.label}}
		{% if form.summary.errors %}
			{{form.summary(class = "project_input_box_error", id = "project_background_input")}}
			{% for error in form.summary.errors %}
				<span class="input_error">{{ error }}</span>
			{% endfor %}
		{% else %}
			{{form.summary(class = "project_input_box", id = "project_background_input")}}
		{% endif %}
		<dt>{{form.background.label}}
		{% if form.background.errors %}
			{{form.background(class = "project_input_box_error", id = "project_background_input")}}
			{% for error in form.background.errors %}
				<span class="input_error">{{ error }}</span>
			{% endfor %}
		{% else %}
			{{form.background(class = "project_input_box", id = "project_background_input")}}
		{% endif %}
		<dt>{{form.description.label}}
		{% if form.description.errors %}
			{{form.description(class = "project_input_box_error", id = "project_description_input")}}
			{% for error in form.description.errors %}
				<span class = "input_error">{{ error }}</span>
			{% endfor %}
		{% else %}
			{{form.description(class = "project_input_box", id = "project_description_input")}}
		{% endif %}
		<dt>{{form.email.label}}
		{% if form.email.errors %}
			{{form.email(class = "project_input_box_error")}}
			{% for error in form.email.errors %}
				<span class = "input_error">{{ error }}</span>
			{% endfor %}
		{% else %}
			{{form.email(class = "project_input_box")}}
		{% endif %}
		<div class = "submit_data_button">
			<div>
				<br>
				{{form.submit()}}
			</div>
		</div>
		<br>
	</form>

{% endblock %}
