{% extends "base.html" %}

{% block title %}Add Tags{% endblock %}

{% block main %}
<form id = "tag_form" action = "{{url_for('create_tags') }}" method="Post" novalidate>
    <div id = "insert_tags">
        {{ form.hidden_tag() }}
        <div id = "tagBarLabel">
            <h3 id = "page_header">{{form.tags.label()}}</h3>
        </div>
        <div class = "textPadding">
            Tags are things such as keywords to associate with your project.
            By having tags associated with your project, users will have your project suggested
            to them if they have the same tags as those associated with your project.
            Try to limit your tags to no more than 2 words.
            By default, the system will make the first letter of a tag capitalized and the rest will be
            lower-cased.
        </div>
        <div id = "tagInputBox">
            {{form.tags(value = "", class_='inputBox')}}
        </div>
        <div id="addTagButton">
            {{form.submit2(class_='insertTagButton')}}
        </div>
        <div id = "formError">
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div id = "tag_listing">
            Your current tags for the project are below. Click on them to remove them.
        </div>
    </div>
</form>

<form id = "added_tags" action = "{{url_for('create_tags')}}" method="Post" novalidate>
    <div id = "tags_created">
        {{ form.hidden_tag() }}
        {% for tag in tags %}
            <div id = "tag_button_container">
                <input type="submit" name="submit" value="{{tag}}" id="TagButton">
            </div>
        {% endfor %}
    </div>
</form>
<div class = "submit_data_button">
    <div>
        <button type="submit" name="submit3" form="tag_form" value = "create">Create Project</button>
    </div>
</div>

{% if suggested_tags %}
    <div id = "tag_listing">
        Suggested tags are listed below. Click on them to add them to your tags.
    </div>

    <form id = "suggested_tags" action = "{{url_for('create_tags')}}" method="Post" novalidate>
        <div id = "tags_created">
            {% for tag in suggested_tags %}
                <div id = "tag_button_container">
                    <input type="submit" name="submit_suggested" value="{{tag}}" id="TagButton">
                </div>
            {% endfor %}
        </div>
    </form>
{% endif %}
{% endblock %}
