{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block main %}
	{# neat! you can actually "call" other blocks like methods... since they are. #}
	<h2>{{ self.title() }}</h2>

	{# this is the basic test we're using to see if someone is logged in.
		you'll have to extend this logic further... #}
	{% if g.user %}
		{% if new_user %}
			<div class = "textPadding">
				<h3>Welcome to the Pitt Capstone Website!</h3>
				<br> Here are some tips for new users:
				<br>
				If you would like to have projects suggested for you, you can associate tags with yourself
				by accessing them in the "My Account" tab.  The suggested projects will be listed below in
				a table once you have tags associated with yourself.  You can search for projects by going to
				the "Projects" tab.
				{% if g.user.provider %}
				As a provider, you can post a project by going to the "Projects" tab and going to create a project.
				Projects that you post will be listed in a table below on this page as well.
				{% endif %}
				{% if g.user.admin %}
				As an admin, you can add project providers, edit any project, or manage any users account by
				going to the "Administrator" tab.
				{% endif %}
			</div>
		{% endif %}
		{% if g.user.provider %}
			{% if my_projects %}
				<h3> Your listed projects are below:
				<table class = "projectTable">
					<tr>
						<th class = "tableTitle"> Title </th>
						<th class = "tableTags"> Tags </th>
						<th class = "tableContact"> Contact </th>
					</tr>
				{% for project in my_projects %}
					<tr>
						<td> <a class = "projectLink" href="{{ url_for('projects', project_id=project.pid) }}">{{project.title}}</td>
						<td>
							{% if project.p_tags %}
								<ul>
								{% for tag in project.p_tags %}
									<li>{{tag.name}}
								{% endfor %}
								</ul>
							{% endif %}
						</td>
						<td> {{project.contact}} </td>
					</tr>
				{% endfor %}
				</table>
				<form id = "tableIndexForm" action = "{{url_for('home')}}" method="GET" novalidate>
					{% if suggested_projects %}
						<input type="hidden" name="index2" form="tableIndexForm" value="{{current_page_suggested}}"></input>
					{% endif %}
				</form>
				<div class = "submit_data_button">
				<div>
				<span id = "pageNumberDisplay">Page: </span>
				{% if current_page-2 > 1 %}
					<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "1" type="submit">1</button>
					<button form = "" class = "pageNumberButton" name = "index" value = "ignore" type="submit">...</button>
					{% if current_page+2 < len %}
						{% for num in range(current_page-1,current_page+2) %}
							{% if num == current_page %}
								<button form = "tableIndexForm" class = "pageNumberButtonCurrent" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% else %}
								<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% endif %}
						{% endfor %}
						<button form = "" class = "pageNumberButton" name = "index" value = "ignore" type="submit">...</button>
						<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{len}}" type="submit">{{len}}</button>
					{% else %}
						{% for num in range(current_page-1,len+1) %}
							{% if num == current_page %}
								<button form = "tableIndexForm" class = "pageNumberButtonCurrent" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% else %}
								<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% else %}
					{% if current_page+2 < len %}
						{% for num in range(1,current_page+2) %}
							{% if num == current_page %}
								<button form = "tableIndexForm" class = "pageNumberButtonCurrent" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% else %}
								<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% endif %}
						{% endfor %}
						<button form = "" class = "pageNumberButton" name = "index" value = "ignore" type="submit">...</button>
						<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{len}}" type="submit">{{len}}</button>
					{% elif current_page+2 >= len %}
						{% for num in range(1,len+1) %}
							{% if num == current_page %}
								<button form = "tableIndexForm" class = "pageNumberButtonCurrent" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% else %}
								<button form = "tableIndexForm" class = "pageNumberButton" name = "index" value = "{{num}}" type="submit">{{num}}</button>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif %}
				<br>
				<br>
				</div>
				</div>
			{% endif %}
		{% endif %}
		{% if suggested_projects %}
			<h3> Your suggested projects are listed below:
			<table class = "projectTable">
				<tr>
					<th class = "tableTitle"> Title </th>
					<th class = "tableTags"> Tags </th>
					<th class = "tableSummary"> Summary </th>
				</tr>
				{% for project in suggested_projects %}
				<tr>
					<td> <a class = "projectLink" href="{{ url_for('projects', project_id=project.pid) }}">{{project.title}}</td>
					<td>
						{% if project.p_tags %}
							<ul>
							{% for tag in project.p_tags %}
								<li>{{tag.name}}
							{% endfor %}
							</ul>
						{% endif %}
					</td>
					<td class = "tableSummaryBox"> {{project.summary}} </td>
				</tr>
				{% endfor %}
			</table>
			<form id = "tableIndexForm2" action = "{{url_for('home')}}" method="GET" novalidate>
				{% if my_projects %}
					<input type="hidden" name="index" form="tableIndexForm2" value="{{current_page}}"></input>
				{% endif %}
			</form>
			<div class = "submit_data_button">
			<div>
			<span id = "pageNumberDisplay">Page: </span>
			{% if current_page_suggested-2 > 1 %}
				<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "1" type="submit">1</button>
				<button form = "" class = "pageNumberButton" name = "index2" value = "ignore" type="submit">...</button>
				{% if current_page_suggested+2 < len2 %}
					{% for num in range(current_page_suggested-1,current_page_suggested+2) %}
						{% if num == current_page_suggested %}
							<button form = "tableIndexForm2" class = "pageNumberButtonCurrent" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% else %}
							<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% endif %}
					{% endfor %}
					<button form = "" class = "pageNumberButton" name = "index2" value = "ignore" type="submit">...</button>
					<button form = "tableIndexForm" class = "pageNumberButton" name = "index2" value = "{{len2}}" type="submit">{{len2}}</button>
				{% else %}
					{% for num in range(current_page_suggested-1,len2+1) %}
						{% if num == current_page_suggested %}
							<button form = "tableIndexForm2" class = "pageNumberButtonCurrent" name = "index" value = "{{num}}" type="submit">{{num}}</button>
						{% else %}
							<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% else %}
				{% if current_page_suggested+2 < len2 %}
					{% for num in range(1,current_page_suggested+2) %}
						{% if num == current_page_suggested %}
							<button form = "tableIndexForm2" class = "pageNumberButtonCurrent" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% else %}
							<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% endif %}
					{% endfor %}
					<button form = "" class = "pageNumberButton" name = "index2" value = "ignore" type="submit">...</button>
					<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "{{len2}}" type="submit">{{len2}}</button>
				{% elif current_page_suggested+2 >= len2 %}
					{% for num in range(1,len2+1) %}
						{% if num == current_page_suggested %}
							<button form = "tableIndexForm2" class = "pageNumberButtonCurrent" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% else %}
							<button form = "tableIndexForm2" class = "pageNumberButton" name = "index2" value = "{{num}}" type="submit">{{num}}</button>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
			<br>
			<br>
			</div>
			</div>
		{% endif %}
	{% else %}
		<div class="container">
			<div id = "intro">
				<p>
					Welcome to the Pitt Capstone Website!
					<br> If you have an account, sign in to the right.
					<br> If you do not have an account, click "Create an Account!" to join as a student.
					<br> If you want to list projects on the website, you need to contact abc@pitt.edu.
					<br> The website is used to help students and faculty connect on various projects.
				</p>
			</div>
			<div id = "login">
				<div id = "loginTitle">
					  Sign in
				</div>
				<div id = "loginForm">
					<form action="" method="post">
						<input type="text" name="username" class="login_input" placeholder="Username" size="15" value="{{ request.form.username }}"></input>
						<input type="password" name="password" class = "login_input" placeholder="Password" size="15" value = "{{request.form.password }}"></input>
						<div>
							<a id= "ForgotPass" href="{{ url_for('logout') }}">Forgot Password?</a>
						</div>
  							<input name = "showPassword" value = "Show" type="checkbox"><label id = "showPass" for="checkbox">Show Password</label>
						<div id = "button">
							<input id = "signin" name = "submit_button" type="submit" value="Sign In">
						</div>
						<div id = "button">
							<input id = "createnew" name = "submit_button" type = "submit" value = "Create new account">
						</div>
					</form>
				</div>
			</div>
		</div>

	{% endif %}

{% endblock %}
