{% extends "base.html" %}

{% block title %}Pitt Capstone Website{% endblock %}

{% block main %}
	{% if g.user %}
        <form id = "editAccountForm" action = "" method="Post" novalidate>
			{{ form.hidden_tag()}}
		</form>
        <h2 class = "projectHeaders">Email</h2>
		{% if 'edit_email' not in edit %}
			<button form = "editAccountForm" class = "editProjectButton" name = "edit_email" type="submit">Edit Email</button>
            <p> {{g.user.email}}
        {% else %}
			{% if form.email.errors and 'update_email' in edit %}
				{{form.email(class = "email_input_box_error", form="editAccountForm")}}
				{% for error in form.email.errors %}
					<span class = "input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
				<br>
            	{{form.email(class = "email_input_box", form="editAccountForm")}}
			{% endif %}
            <br>
			<div class = "submit_changes_button">
				<button type="submit" name="update_email" form="editAccountForm">Update Email</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Password</h2>
		{% if success %}
			<p> {{success}}
		{% endif %}
		<div class = "password_box">
			<div class = "password_text">
				Old Password:
			</div>
			{% if 'update_pass' in edit and form.password.errors %}
				<div class = "password_box_box">
					{{form.password(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box">
					{{form.password(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "password_box">
			<div class = "password_text">
				New Password:
			</div>
			{% if form.password2.errors and 'update_pass' in edit %}
				<div class = "password_box_box">
					{{form.password2(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password2.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box">
					{{form.password2(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "password_box">
			<div class = "password_text">
				Confirm New Password:
			</div>
			{% if form.password3.errors and 'update_pass' in edit %}
				<div class = "password_box_box">
					{{form.password3(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password3.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box" id = "password3">
					{{form.password3(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "submit_changes_button">
			<button type="submit" name="update_password" form="editAccountForm">Update Password</button>
		</div>
		<br>
        <h2 class = "projectHeaders">My Tags</h2>
        {% if 'edit_tags' not in edit %}
            <button type="submit" class = "editProjectButton" form="editAccountForm" name = "edit_tags">Edit Tags</button>
            {% if tags %}
                <div id = "tags_created">
                    {% for tag in tags %}
                        <div id = "tag_button_container">
                            <input type="submit" name="submit" value="{{tag.name}}" id="TagButton">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
		{% endif %}
		<br>
		<h2 class = "projectHeaders">Delete Account</h2>
		<form id = "removeAccountForm" action = "" method="Post" novalidate>
			{{ form2.hidden_tag()}}
		</form>
		{% if 'remove_account' not in edit %}
			<div class = "submit_data_button_left">
				<button type="submit" name="remove_account" form="removeAccountForm">Remove Account</button>
			</div>
			<br>
		{% else %}
			<div class="textPadding">
				<h4 id="headerMargins">Enter your email and password to delete your account.</h4>
			</div>
			<div class = "password_box">
				<div class = "password_text">
					Email:
				</div>
				{% if 'remove_account_final' in edit and form2.email.errors %}
					<div class = "password_box_box">
						{{form2.email(class = "password_input_box_error", form="removeAccountForm")}}
					</div>
					<div id = "error_text">
						{% for error in form2.email.errors %}
							<span class="input_error">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div class = "password_box_box">
						{{form2.email(class = "password_input_box", form="removeAccountForm")}}
					</div>
				{% endif %}
			</div>
			<div class = "password_box">
				<div class = "password_text">
					Password:
				</div>
				{% if form2.password.errors and 'remove_account_final' in edit %}
					<div class = "password_box_box">
						{{form2.password(class = "password_input_box_error", form="removeAccountForm")}}
					</div>
					<div id = "error_text">
						{% for error in form2.password.errors %}
							<span class="input_error">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div class = "password_box_box">
						{{form2.password(class = "password_input_box", form="removeAccountForm")}}
					</div>
				{% endif %}
			</div>
			<div class = "submit_changes_button">
				<button id = "remove_project_button" type="submit" name="remove_account_final" form="removeAccountForm">Delete Account</button>
			</div>
			<div class = "submit_changes_button">
				<div>
					<button type="submit" name="cancel_remove_account" form="removeAccountForm">Cancel</button>
				</div>
			</div>
			<br>
		{% endif %}
	{% endif %}
{% endblock %}
