{% extends "base.html" %}

{% block title %}My Tags{% endblock %}

{% block main %}
<form id = "tag_form" action = "{{url_for('my_tags') }}" method="Post" novalidate>
    <div id = "insert_tags">
        {{ form.hidden_tag() }}
        <div id = "tagBarLabel">
            <h2 class = "projectHeaders">My Tags</h2>
        </div>
        <div class = "textPadding">
            Having tags associated with your account lets us suggest projects for you.
            You can add or remove tags at any time.
        </div>
        <div id = "tagInputBox">
            <br>
            {{form.tags(value = "", class_='inputBox')}}
        </div>
        <div id="addTagButton">
            <br>
            {{form.submit2(class_='insertTagButton')}}
        </div>
        <div id = "formError">
            {% if form.tags.errors %}
                {% for error in form.tags.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </div>
        <div id = "tag_listing">
            <br>
            The tags associated with your account are listed below. Click on them to remove them.
        </div>
    </div>
</form>

<form id = "added_tags" action = "{{url_for('my_tags')}}" method="Post" novalidate>
    <div id = "tags_created">
        {% for tag in my_tags %}
            <div id = "tag_button_container">
                <input type="submit" name="submit" value="{{tag.name}}" id="TagButton">
            </div>
        {% endfor %}
    </div>
    <div id = "tag_listing">
        <br>
        Tags associated with projects(Click a tag to associate it with your account) :
    </div>
</form>

<form id = "added_tags" action = "{{url_for('my_tags')}}" method="Post" novalidate>
    <div id = "tags_created">
        {% for tag in tags %}
            {% if tag %}
                <div id = "tag_button_container">
                    <input type="submit" name="submit" value="{{tag.name}}" id="TagButton">
                </div>
            {% endif %}
        {% endfor %}
    </div>
</form>

{% endblock %}
