{% extends "base.html" %}

{% block title %}Pitt Capstone Website{% endblock %}

{% block main %}
	{% if g.user.user_id == project.user or g.user.admin %}
        <form id = "editProjectForm" action = "" method="Post" novalidate>
            {{ form.hidden_tag()}}
        </form>
        <form id = "editForm" action = "{{url_for('create_project') }}" method="Post" novalidate>
            {{ form.hidden_tag() }}
        </form>
        <h2 class = "projectHeaders">Title</h2>
        {% if 'edit_title' not in edit %}
            <button form = "editProjectForm" class = "editProjectButton" name = "edit_title" type="submit">Edit Title</button>
			{% if title_updated %}
				<br>
				<h3 class = "output_message" id = "password_update" >{{updated_email}}</h3>
			{% endif %}
            <div class = "textPadding"> {{project.title}} </div><br>
        {% else %}
				{% if form.title.errors %}
					{{form.title(class = "project_input_box_error", id = "project_title_input", form="editProjectForm")}}
					{% for error in form.title.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				{% else %}
                	{{form.title(class = "project_input_box", id = "project_title_input", form="editProjectForm")}}
				{% endif %}
				<div class = "submit_changes_button">
					<button type="submit" name="update_title" form="editProjectForm">Update Title</button>
				</div>
				<br>
        {% endif %}
		<h2 class = "projectHeaders">Summary</h2>
        {% if 'edit_summary' not in edit %}
            <button type="submit" form = "editProjectForm" class = "editProjectButton" name="edit_summary">Edit Summary</button>
            <div class = "textPadding"> {{project.summary}} </div><br>
        {% else %}
			{% if form.summary.errors %}
				{{form.summary(class = "project_input_box_error", id = "project_background_input", form="editProjectForm")}}
				{% for error in form.summary.errors %}
					<span class="input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
            	{{form.summary(class = "project_input_box", id = "project_background_input", form="editProjectForm")}}
			{% endif %}
			<div class = "submit_changes_button">
				<button type="submit" name="update_summary" form="editProjectForm">Update Summary</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Background</h2>
        {% if 'edit_background' not in edit %}
            <button type="submit" form = "editProjectForm" class = "editProjectButton" name="edit_background">Edit Background</button>
            <div class = "textPadding"> {{project.background}} </div><br>
        {% else %}
			{% if form.background.errors %}
				{{form.background(class = "project_input_box_error", id = "project_background_input", form="editProjectForm")}}
				{% for error in form.background.errors %}
					<span class="input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
            	{{form.background(class = "project_input_box", id = "project_background_input", form="editProjectForm")}}
			{% endif %}
			<div class = "submit_changes_button">
				<button type="submit" name="update_background" form="editProjectForm">Update Background</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Description</h2>
        {% if 'edit_description' not in edit %}
            <button type="submit" class = "editProjectButton" form="editProjectForm" name = "edit_description">Edit Description</button>
            <div class = "textPadding"> {{project.description}} </div><br>
        {% else %}
			{% if form.description.errors %}
				{{form.description(class = "project_input_box_error", id = "project_description_input", form="editProjectForm")}}
				{% for error in form.description.errors %}
					<span class = "input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
            	{{form.description(class = "project_input_box", id = "project_description_input", form="editProjectForm")}}
			{% endif %}
			<div class = "submit_changes_button">
				<button type="submit" name="update_description" form="editProjectForm">Update Description</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Contact Email</h2>
        {% if 'edit_contact' not in edit %}
            <button type="submit" class = "editProjectButton" form="editProjectForm" name = "edit_contact">Edit Contact Email</button>
            <div class = "textPadding"> {{project.contact}} </div><br>
        {% else %}
			{% if form.email.errors %}
				{{form.email(class = "project_input_box_error", form="editProjectForm")}}
				{% for error in form.email.errors %}
					<span class = "input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
            	{{form.email(class = "project_input_box", form="editProjectForm")}}
			{% endif %}
            <br>
			<div class = "submit_changes_button">
				<button type="submit" name="update_contact" form="editProjectForm">Update Contact Email</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Project Tags</h2>
        {% if 'edit_tags' not in edit %}
            <button type="submit" class = "editProjectButton" form="editProjectForm" name = "edit_tags">Edit Tags</button>
            {% if project.p_tags %}
                <div id = "tags_created">
                    {{ form.hidden_tag() }}
                    {% for tag in project.p_tags %}
                        <div id = "tag_button_container">
                            <input type="submit" name="submit" value="{{tag.name}}" id="TagButton">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <form id = "tag_form" action = "" method="Post" novalidate>
                <div id = "insert_tags">
                    {{ tag_form.hidden_tag() }}
                	<div id = "tagInputBox">
                    	{{tag_form.tags(value = "", class_='inputBox')}}
                	</div>
                	<div id="addTagButton">
						<button type="submit" name="add_tag" form="tag_form">Add tag</button>
					</div>
                	<div id = "formError">
                    	{% if tag_form.tags.errors %}
                        	{% for error in form.tags.errors %}
                            	{{ error }}
                        	{% endfor %}
                    	{% endif %}
                	</div>
                	<div id = "tag_listing">
                    	Your current tags for the project are below. Click on them to remove them.
                	</div>
            	</div>
        	</form>
        	<form id = "added_tags" action = "" method="Post" novalidate>
            	<div id = "tags_created">
                	{{ form.hidden_tag() }}
                		{% for tag in tags %}
                    		<div id = "tag_button_container">
                        		<input type="submit" name="submit" value="{{tag}}" id="TagButton">
                    		</div>
                	{% endfor %}
            	</div>
        	</form>
			<div class = "submit_changes_button">
		    	<button type="submit" name="update_tags" form="tag_form" value = "create">Update Tags</button>
			</div>
        {% endif %}
		{% if g.user.user_id == project.user or g.user.admin %}
		<form id = "removeProjectForm" action = "" method="Post">
			{{ form.hidden_tag()}}
		</form>
			<br>
			{% if 'remove_project' not in edit %}
				<div class = "submit_data_button">
					<button type="submit" name="remove_project" form="removeProjectForm">Remove Project</button>
				</div>
				<br>
			{% else %}
				<h2 class = "projectHeaders">Enter project name to remove:</h2>
				{% if remove_err %}
					<input type="text" class = "project_input_box_error" name="remove_project_title" size="100" value="" form="removeProjectForm">
					<span class="input_error">{{remove_err}}</span>
				{% else %}
					<input type="text" class = "project_input_box" name="remove_project_title" size="100" value="" form="removeProjectForm">
				{% endif %}
				<div class = "submit_data_button">
					<button id = "remove_project_button" type="submit" name="remove_project_final" form="removeProjectForm">Remove Project</button>
				</div>
				<div class = "submit_data_button">
					<div>
						<button type="submit" name="cancel_remove_project" form="removeProjectForm">Cancel</button>
					</div>
				</div>
			{% endif %}
		{% endif %}
	{% else %}
		<h2 class = "projectHeaders">Title</h2>
		<div class = "textPadding"> {{project.title}} </div><br>
		<h2 class = "projectHeaders">Summary</h2>
		<div class = "textPadding"> {{project.summary}} </div><br>
		<h2 class = "projectHeaders">Background</h2>
		<div class = "textPadding"> {{project.background}} </div><br>
		<h2 class = "projectHeaders">Description</h2>
		<div class = "textPadding"> {{project.description}} </div><br>
		<h2 class = "projectHeaders">Contact Email</h2>
		<div class = "textPadding"> {{project.contact}} </div><br>
		<h2 class = "projectHeaders">Project Tags</h2>
		{% if project.p_tags %}
			<div id = "tags_created">
				{{ form.hidden_tag() }}
				{% for tag in project.p_tags %}
					<div id = "tag_button_container">
						<input type="submit" name="submit" value="{{tag.name}}" id="TagButton">
					</div>
				{% endfor %}
			</div>
			<br>
		{% endif %}
	{% endif %}
{% endblock %}
