{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block main %}
    <div class = "tagRankBox">
        <div>
            <h2 class = "projectHeaders">My Tag Values</h2>
        </div>
        <div id = "tagRankDescription">
            Your tags are listed below in bold.  The value associated with each tag is between 1 and 5.
            The default tag value is 3 unless you set it to another value.  For example, if your first
            tag has a value of 5 and your second tag has a value of 1, then a project suggested to you
            with tag 1 will have a greater weight than a project suggested to you with tag 2, thus the
            the project with tag 1 will get a higher ranking.
            <h5 id = "rankSubmitHeader">Press the submit changes button at the bottom of the page to submit any changes.</h5>
        </div>
        {% if output %}
            <div>
                <h3 class = "output_message">{{output}}</h3>
            </div>
        {% endif %}
        <div id = "tagBox">
            <form class = "rankForm" name="myForm" action="" method="post" onsubmit="">
                {% for tag in tags %}
                    <div id = "tagRow">
                        <h4 id = "rankTagName"> {{tag[0].name}} </h4>
                        <br>
                        {% if tag[1] == 1 %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" checked value = "1"> 1</input>
                        {% else %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" value = "1"> 1</input>
                        {% endif %}
                        {% if tag[1] == 2 %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" checked value = "2"> 2</input>
                        {% else %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" value = "2"> 2</input>
                        {% endif %}
                        {% if tag[1] == 3 %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" checked value = "3"> 3</input>
                        {% else %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" value = "3"> 3</input>
                        {% endif %}
                        {% if tag[1] == 4 %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" checked value = "4"> 4</input>
                        {% else %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" value = "4"> 4</input>
                        {% endif %}
                        {% if tag[1] == 5 %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" checked value = "5"> 5</input>
                        {% else %}
                            <input class = "tagRank" type="radio" name="{{tag[0].tid}}" id="option1" value = "5"> 5</input>
                        {% endif %}
                    </div>
                {% endfor %}
            <div id = "submitBox">
                <div>
                    <input id = "rankSubmitButton" type=submit value="Submit Changes">
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}
