{% extends "base.html" %}

{% block title %}Pitt Capstone Website{% endblock %}

{% block main %}
	{% if g.user %}
        <form id = "editAccountForm" action = "" method="Post" novalidate>
			{{ form.hidden_tag()}}
		</form>
		<form id = "editRightsForm" action = "" method="Post" novalidate>

		</form>
        <h2 class = "projectHeaders">Email</h2>
		{% if 'edit_email' not in edit %}
			<button form = "editAccountForm" class = "editProjectButton" name = "edit_email" type="submit">Edit Email</button>
			{% if updated_email %}
				<br>
				<h3 class = "output_message" id = "password_update" >{{updated_email}}</h3>
			{% endif %}
            <div class = "inputBoxIndent">
 				{{user.email}}
			</div>
			<br>
        {% else %}
			{% if form.email.errors and 'update_email' in edit %}
				<br>
				{{form.email(class = "email_input_box_error", form="editAccountForm")}}
				{% if form.email.errors %}
					<br>
				{% endif %}
				{% for error in form.email.errors %}
					<span class = "input_error">{{ error }}</span>
				{% endfor %}
			{% else %}
				<br>
            	{{form.email(class = "email_input_box", form="editAccountForm")}}
			{% endif %}
            <br>
			<div class = "submit_changes_button">
				<button type="submit" name="update_email" form="editAccountForm">Update Email</button>
				<button type="submit" name="cancel_update_email" form="editAccountForm">Cancel</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Account type(s)</h2>
		{% if 'edit_rights' not in edit %}
			<button form = "editRightsForm" class = "editProjectButton" name = "edit_rights" type="submit">Edit Account Type</button>
			{% if updated_rights %}
				<br>
				<h3 class = "output_message" id = "password_update" >{{updated_rights}}</h3>
			{% endif %}
            <ul>
                {% if user.admin %}
                    <li>Administrator
                {% endif %}
                {% if user.provider %}
                    <li>Provider
                {% else %}
                    <li>Applicant
                {% endif %}
            </ul>
			<br>
        {% else %}
			<div class="textPadding">
				<div class = "warningText">Warning: If a user is a provider and you remove this right, all of
				there projects will be removed. Also if a user is given admin rights, they are automatically
				given provider rights.</div>
				<br>
			</div>
			{% if user.provider %}
				<dd><input type="checkbox" name="provider" form="editRightsForm" value = "prov" checked = checked><label id = "provider" for="checkbox">Project Provider</label></dd>
			{% else %}
				<dd><input type="checkbox" name="provider" form="editRightsForm" value = "prov"><label id = "provider" for="checkbox">Project Provider</label></dd>
			{% endif %}
			{% if user.admin %}
				<dd><input type="checkbox" name="admin" form="editRightsForm" value = "admin" checked = checked><label id = "admin" for="checkbox">Administrator</label></dd>
			{% else %}
				<dd><input type="checkbox" name="admin" form="editRightsForm" value = "admin"><label id = "admin" for="checkbox">Administrator</label></dd>
			{% endif %}
            <br>
			<div class = "submit_changes_button">
				<button type="submit" name="update_rights" form="editRightsForm">Update Rights</button>
				<button type="submit" name="cancel_update_rights" form="editRightsForm">Cancel</button>
			</div>
			<br>
        {% endif %}
        <h2 class = "projectHeaders">Change Password</h2>
		{% if success %}
			<br>
			<h3 class = "output_message" id = "password_update" >{{success}}</h3>
		{% endif %}
		<div class = "password_box">
			<div class = "password_text">
				Admin Password:
			</div>
			{% if 'update_pass' in edit and form.password.errors %}
				<div class = "password_box_box">
					{{form.password(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box">
					{{form.password(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "password_box">
			<div class = "password_text">
				New Password:
			</div>
			{% if form.password2.errors and 'update_pass' in edit %}
				<div class = "password_box_box">
					{{form.password2(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password2.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box">
					{{form.password2(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "password_box">
			<div class = "password_text">
				Confirm New Password:
			</div>
			{% if form.password3.errors and 'update_pass' in edit %}
				<div class = "password_box_box">
					{{form.password3(class = "password_input_box_error", form="editAccountForm")}}
				</div>
				<div id = "error_text">
					{% for error in form.password3.errors %}
						<span class="input_error">{{ error }}</span>
					{% endfor %}
				</div>
			{% else %}
				<div class = "password_box_box" id = "password3">
					{{form.password3(class = "password_input_box", form="editAccountForm")}}
				</div>
			{% endif %}
		</div>
		<div class = "submit_changes_button">
			<button type="submit" name="update_password" form="editAccountForm">Update Password</button>
		</div>
		<br>
        {% if user.provider %}
            <h2 class = "projectHeaders">Users Projects</h2>
            {% if projects %}
                <ul>
                    {% for project in projects %}
                        <li><a class = "projectLink" href = "{{ url_for('projects', project_id=project.pid) }}">{{project.title}}</a>
                    {% endfor %}
                </ul>
			{% else %}
				<div class = "textPadding">
					<br>
					The user does not have any projects.
				</div>
            {% endif %}
		{% endif %}
		<br>
		<h2 class = "projectHeaders">Delete Account</h2>
		<form id = "removeAccountForm" action = "" method="Post" novalidate>
			{{ form2.hidden_tag()}}
		</form>
		{% if 'remove_account' not in edit %}
			<div class = "submit_data_button_left">
				<button type="submit" name="remove_account" form="removeAccountForm">Remove Account</button>
			</div>
			<br>
		{% else %}
			<div class="textPadding">
				<h4 id="headerMargins">Enter the users email and your password to delete the account.</h4>
			</div>
			<div class="textPadding">
				<div class = "warningText">Warning: If a user is a provider and you delete them, all of
				there projects will be removed.</div>
				<br>
			</div>
			<div class = "password_box">
				<div class = "password_text">
					Email of the user to remove:
				</div>
				{% if 'remove_account_final' in edit and form2.email.errors %}
					<div class = "password_box_box">
						{{form2.email(class = "password_input_box_error", form="removeAccountForm")}}
					</div>
					<div id = "error_text">
						{% for error in form2.email.errors %}
							<span class="input_error">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div class = "password_box_box">
						{{form2.email(class = "password_input_box", form="removeAccountForm")}}
					</div>
				{% endif %}
			</div>
			<div class = "password_box">
				<div class = "password_text">
					Your Password:
				</div>
				{% if form2.password.errors and 'remove_account_final' in edit %}
					<div class = "password_box_box">
						{{form2.password(class = "password_input_box_error", form="removeAccountForm")}}
					</div>
					<div id = "error_text">
						{% for error in form2.password.errors %}
							<span class="input_error">{{ error }}</span>
							<br>
						{% endfor %}
					</div>
				{% else %}
					<div class = "password_box_box">
						{{form2.password(class = "password_input_box", form="removeAccountForm")}}
					</div>
				{% endif %}
			</div>
			<div class = "submit_changes_button">
				<button id = "remove_project_button" type="submit" name="remove_account_final" form="removeAccountForm">Delete Account</button>
			</div>
			<div class = "submit_changes_button">
				<div>
					<button type="submit" name="cancel_remove_account" form="removeAccountForm">Cancel</button>
				</div>
			</div>
			<br>
		{% endif %}
	{% endif %}
{% endblock %}
